URxvt.font: xft:Liberation Mono:size=28 
URxvt.perl-ext-common: default,font-size,keyboard-select,searchable-scrollback
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.C-Up: font-size:incsave
URxvt.keysym.C-Down: font-size:decsave
URxvt.keysym.C-equal: font-size:reset
URxvt.keysym.C-slash: font-size:show
